h1,h2,h3,h4,h5,p,span,input,textarea, label{
  font-family: 'PT Sans', sans-serif;
}
/*----------------------Font sizing---------------------- */
h1
{
	font-size:  3.998em ;
}
h2
{
	font-size:  2.827em ;
}
h3
{
	font-size: 1.999em ;
}
h4
{
	font-size: 1.414em ;
}
h5
{
	font-size:  1.21em ;
}
p
{
	font-size: 1em;
}
/* ----------------form-------------------------- */

li{
  list-style: none;

}

body{
    background: #dadfe1;
}

.heroTitle{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 20% auto auto 20%;
    align-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.item{
    padding: 10px;
}

.item-a{
    padding: 10px;
    margin: 0 auto;
}

.timer
{
  display: block;
  margin: 0 auto;
  font-size: 1.999em;
  text-align: center;
  padding-top: 30px;
}

input[type=text]{
    height: 50px;
    max-width: 250px;
    font-size: 40px;
}

input[type=text]:hover{
    background: #dadfe1;
}

input[type=text]:active{

}

input[type=submit]{
    width: 50px;
    width: 200px;
    color: #f7f7f7;
    display: block;
    background: #9b0000;
    font-size: 3em;
    margin: 0 auto;
    border: outset;
    border-width: thick;
    border-color: #9b0000;
}

input[type=submit]:hover{
    width: 50px;
    width: 200px;
    color: #f7f7f7;
    display: block;
    background: #c5050c;
    font-size: 3em;
    margin: 0 auto;
    border: outset;
    border-width: thick;
    border-color: #c5050c;
}

input[type=submit]:active{
    width: 50px;
    width: 200px;
    color: #f7f7f7;
    display: block;
    background: #9b0000;
    font-size: 3em;
    margin: 0 auto;
    border: inset;
    border-width: thick;
    border-color: #9b0000;
}

.start_img{
    max-height: 100px;
}

.finish_img{
    max-height: 100px;
}

.raceArea
{
  min-height: 700px;
}
.raceArea iframe{
  width: 90%;
  height: 600px;
  display: block;
  margin: 0 auto;
}

html,body{
  margin: 0;
  padding:0;
}

footer{
  background-color: #494949;
  min-height: 500px;
  display:inline-block;
  vertical-align: top;
  width: 100%;
  min-height: 300px;
  color: aliceblue;
}
